:root {
  --main-font-family: "Inter var experimental";
  --main-color: var(--theme-dark_gray);
  --main-background-color: var(--theme-white);
  --main-grid-gap: max(0.25vh, 0.25vw);
  --main-border-radius: max(0.25vh, 0.25vw);

  --main-button-height: 8vh;

  --header-hight: 6vh; 
  --main-height: 1fr;
  --footer-height: var(--header-hight);
  --footer-background-color: transparent;

  --group-height: 20vh;

  --theme-icon-svg-color: var(--main-color);
  --transition-timing-function: cubic-bezier(.03,.97,.93,.95);
  --transition-duration: 0.125s;
}

* {
  box-sizing: border-box;
  contain: content;
  margin: 0;
  /* overflow: hidden; */
  padding: 0;
  /* pointer-events: none; */
  position: relative;
  /* user-select: none; */
}

@supports (font-variation-settings: normal) {
  * {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    font-variation-settings: "wght" 400, "slnt" 0;
    /* letter-spacing: -0.022em; */
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "case" 0, "cpsp" 0, "dlig" 0, "frac" 0, "dnom" 0, "numr" 0, "salt" 0, "subs" 0, "sups" 0, "tnum", "zero", "ss01", "ss02" 0, "ss03" 0, "ss04" 0, "cv01" 0, "cv02" 0, "cv03" 0, "cv04" 0, "cv05" 0, "cv06" 0, "cv07", "cv08" 0, "cv09" 0, "cv10" 0, "cv11" 0, "calt", "ccmp", "kern";
  }
}

html, body {
  height: auto;
  background-color: brown;
}

html {
  font-family: var(--main-font-family);
  background-color: var(--main-background-color);
  color: var(--main-color);
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  grid-template-areas:
    'site-header'
    'site-main'
    'site-footer'
  ;
  /* grid-template-rows: 5rem 100% auto; */
  grid-template-rows: 10vh 1fr auto;
  /* min-height: 100%; */

  background-color: whitesmoke;
}

main {
  grid-area: site-main;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;

  background-color: brown;
}

svg {
  pointer-events: none !important;
}

/* button {
  background-color: var(--theme-light_gray);
  border: none;
  border-radius: max(0.125vh, 0.125vw);
  padding: max(0.5vh, 0.5vw);
  max-height: 6rem;
} */

button:active {
  background-color: var(--theme-black);
  box-shadow: inset min(0.125vh, 0.125vw) min(0.125vh, 0.125vw) 0.5vh black, 0 0 1px var(--theme-darkest_white);
}

a, a:visited {
  color: var(--theme-blue);
}

@media screen and (max-height: 480px) and (orientation: landscape) {
  :root {
    --header-hight: 4vh;
  }
}